.cardbody{
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
    font-size: 20px;
    width: 25%;
    text-align: center;
}
s{
    color: red;
}
p{
    color: green;
}
u,h2{
color: blue;
}
button{
    color: white;
    padding: 1%;
    background-color: green;
    width: 60%;
}
.cardbody img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (min-width:320px) and (max-width:480px){
    .cardbody{
        border: 2px solid black;
        padding: 1%;
        margin: 1%;
        font-size: 30px;
        width: 92%;
        text-align: center;
    }
    s{
        color: red;
    }
    p{
        color: green;
    }
    u,h2{
    color: blue;
    }
    button{
        color: white;
        padding: 1%;
        background-color: green;
        width: 60%;
    }
    .cardbody img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}


@media only screen and (min-width:481px) and (max-width:768px){
    
}